*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
}

.middle-logo h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.page1{
    height: 100vh;
}
.page2{
    height: 100vh;
    padding: 20px 80px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}